*{
    margin:0;
    padding:0;
    scroll-behavior: smooth;
}
body{
    background-color: rgb(27, 41, 41);
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.header {
    display: flex;
    width: 93%;
    padding: 0 15px;
    margin: 20px;
}
.logo {
    width: 10%;
    left: 0%;
    color: #fff;
}
.nav {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    float: right;
    right: 5%;
}
.nav a {
    padding:0 10px;
    text-decoration: none;
    color: #fff;
    float: left;
}
.nav-btn {
    width: 10%;
}
.nav-btn button {
    padding: 10px;
    border-radius: 80px;
    background-color: rgb(6, 53, 83);
    border-color: rgb(6, 53, 83);
    color: #fff;
    text-decoration: none;
}
.nav-btn button:hover {
    background-color: #fff;
    color: rgb(6, 53, 83);
    transition: 3ms ease;
}
.home {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    height: 100vh;
    justify-content: center;
}
.about {
    width: 90%;
    height: 100vh;
}
.section-heading, .section-disc, .section-btn {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}